/* Universal */
* {
  font-family: sans-serif;
}

/* Navigation */
nav {
  position: fixed;
  top: 0;

  background: #fcc785;
  width: 100%;
}

li {
  list-style-type: none;

  display: inline-block;
  padding-right: 50px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

#float_left, #float_right {
  padding: 15px 100px;
}

#float_left {
  float: left;
}

#float_right {
  float: right;
}

/* Landing Page */
.home {
  background: #f8f9fa;
}

header {	
  margin-top: 15px;
  height: 90vh;
	background-image: url('../assets/pattern.svg');
  background-size: cover;

  opacity: 0.5;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Gallery */
.gallery {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.gallery figure {
  display: inline-block;
  width: 350px;
  height: 350px;
  margin: 20px;

  overflow: hidden;
}

/* Bio */
.bio header {
  height: 50vh;
}

/* Contact */
.contact header {
  height: 50vh;
}