/* Universal */
h1 {
  text-align: center;
}

/* Navigation */
nav {
  position: fixed;
  top: 0;

  background: #fcc785;
  width: 100%;
}

li {
  list-style-type: none;

  display: inline-block;

  padding-right: 50px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

#float_left, #float_right {
  padding: 15px 100px;
}

#float_left {
  float: left;
}

#float_right {
  float: right;
}

/* Homepage */
.home {
  background: #f8f9fa;
}

.home header {
	color: #f8f9fa;
	
	height: 95vh;
	background-image: url('../assets/pattern.svg');
  background-size: cover;

  opacity: 0.5;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Bio */
.bio {
  background: turquoise;
}

/* Contact */
.contact {
  background: thistle;
}

/* Portfolio */
figure {
  width: 200px;

  display: inline-block;
}