/* Universal */
nav {
  position: fixed;
  top: 0;

  background: black;
  width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #4b7760;
}

h1 {
  text-align: center;
}

/* Homepage */
.home {
  background: #f8f9fa;
}

.home header {
	color: #f8f9fa;
	
	height: 100vh;
	background-image: url('../img/hero.JPG');
  background-size: cover;

  opacity: 0.75;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Bio */
.bio {
  background: turquoise;
}

/* Contact */
.contact {
  background: thistle;
}

/* Portfolio */
figure {
  width: 200px;

  display: inline-block;
}